@import '../../../styles/colors';

.public-button {
  border: none;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.7em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: inherit;
  opacity: 0.8;
  background: $lightocher;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

.public-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
