@import '../../styles/colors';

.wod-page {
  .wod-container {
    display: flex;
    justify-content: flex-start;

    .hulk-container {
      max-width: 20em;
      height: 20em;
      display: flex;
      margin-top: 6em;
    }

    img {
      display: block;
      max-width: 100%;
      background: white;
    }
  }

  .training-form, .exercise-container {
    margin-top: 3vh;

    h1 {
      margin-bottom: 1em;
    }
  }

  .training-form {
    width: 60%;
  }

  .exercise-page {
    display: flex;
    flex-direction: column;
    width: 70%;

    > button {
      display: block;
      margin: 0 auto;
      margin-top: 2.0em;
      width: 30%;
      padding: 0.2em;
      background-color: #000;
      color: $grassgreen;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 10px;
      font-family: inherit;
      font-size: 1.2em;
      font-weight: bold;
    }

    > button:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .exercise-container {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .exercise-list {
      margin-top: 1.2em;
      width: 40%;
    }
  }

}
