@import '../../styles/colors';

.wod-page {
  .wod-container {
    display: flex;
    justify-content: flex-start;

    .hulk-container {
      display: flex;
      margin-top: 6em;
    }

    img {
      display: block;
      height: 20em;
      background: white;
    }
  }
  
  .training-form, .exercise-container {
    margin-top: 3vh;

    h1 {
      margin-bottom: 1em;
    }
  }

  .training-form {
    width: 60%;
  }

  .exercise-container {
    margin-top: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-between;

    > .exercise-list {
      margin-top: 1.2em;
      width: 40%;
    }
  }

}
