@import '../../styles/colors';

.wod-page {
  .wod-container {
    display: flex;
    justify-content: flex-start;

    .hulk-container {
      max-width: 20em;
      height: 20em;
      display: flex;
      margin-top: 6em;
    }

    img {
      display: block;
      max-width: 100%;
      background: white;
    }
  }

  .training-form, .exercise-container {
    margin-top: 3vh;

    h1 {
      margin-bottom: 1em;
    }
  }

  .training-form {
    width: 60%;
  }

  .exercise-page {
    display: flex;
    flex-direction: column;
    width: 70%;

    .text-button {
      width: 30%;
    }

  }

  .exercise-container {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

    > .exercise-list {
      margin-top: 1.2em;
      width: 40%;
    }
  }

}
