@import '../../styles/colors';

.training-form {
  margin-top: 1em;

  h1 {
    text-align: center;
  }

  form {
    padding: 0;
  }

  .labeled-input {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

    input {
      max-width: 70%;
      text-align: center;
    }
  }

  .radio-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > p {
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }

  .select-input {
    width: 80%;
    margin-bottom: 1.2em;
  }
}


