@import '../../styles/colors';

.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 2px solid red;
  //max-height: 50%;

  > img {
    display: block;
    height:auto;
    overflow:auto;
    border-radius: 50%;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }
}

.loading-image {
  opacity: 0.5;
  //border: 10px solid blue;
}
