@import '../../../styles/colors';

.link-button {
  display: inline-block;
  padding: 1em;
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  //border: 5px solid green;
  > span {
    color: #fff;
  }
}

.link-button:hover {
  > span {
    color: $grassgreen;
  }
}

.active-page, .active-page:hover {
  > span {
    color: $grassgreen;
    border-bottom: 2px solid $grassgreen;
  }
}
