@import '../../styles/colors';

.labeled-input {
  display: flex;
  //margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  margin-bottom: 1em;
  border: none;
  font-family: inherit;
  box-sizing: border-box;

  label {
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
}

input {
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid $browngreen;
  outline: none;
  font-family: inherit;
  font-size: 1.1em;
}

input:focus {
  border-bottom: 2px solid $darkocher;
}
