@import '../../styles/colors';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;

  > button {
    display: block;
    color: $grassgreen;
    outline: none;
  }
}

