@import '../../styles/colors';

.navigation {
  display: flex;
  flex-direction: column;

  > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;

    > button {
      display: block;
      color: #fff;
      outline: none;
    }

    > button:hover {
      color: $darkred
    }
  }

  p {
    color: #000;
    margin: 0;
    margin-right: 1em;
    margin-top: 0.5em;
    align-self: flex-end;
  
    > a {
      color: #000;
      text-decoration: none;
      margin-left: 0.5em;
    }
  }
  
}


