@import '../../../styles/colors';

.labeled-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.2em;
  border: none;
  font-family: inherit;
  box-sizing: border-box;
  font-size: 1.2em;

  input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid $browngreen;
    outline: none;
    font-family: inherit;
    font-size: 1.1em;
  }

  input:focus {
    border-bottom: 2px solid $lightocher;
  }
}
