@import '../../../styles/colors';

.rounded-button {
  display: flex;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2em;
  cursor: pointer;
  outline: none;
  border: none;
}

.button-icon {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background-color: $grassgreen;
  //border: none;
}

.button-icon:hover {
  background-color: #000;
  color: $lightocher;
}
