@import '../../../styles/colors';

.rounded-button {
  display: flex;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2em;
  cursor: pointer;
  outline: none;
  border: none;
}

.rounded-button[disabled] {
  color: #000;
  cursor: not-allowed;
  opacity: 0.5;
}


.button-icon {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background-color: $grassgreen;
}
