@import '../../styles/colors';

.exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #A9A9A9;

  button {
    border-radius: 50%;
    background-color: #fff;
    font-size: 2em;
    cursor: pointer;
    border: none;
    outline: none;
    align-self: flex-end;
  }

  .remove-circle {
    height: 0.6em;
    width: 0.6em;
    border-radius: 50%;
    background-color: $lightocher;
    color: #fff;
  }

  .remove-circle:hover {
    background-color: #000;
    color: $lightocher;
  }
}
